<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item {{lblDisabledBackBtn}}" (click)="initPage()">
            <a class="page-link" href="#" tabindex="-1">
                << </a>
        </li>
        <li class="page-item {{lblDisabledBackBtn}}" (click)="backBtn()">
            <a class="page-link" href="#" tabindex="-1">
                < </a>
        </li>

        <li class="page-item {{tmpPages.label}}" *ngFor="let tmpPages of listPages;" (click)="findPage(tmpPages.number)">
            <a class="page-link" href="#">{{tmpPages.number}} </a>
        </li>

        <li class="page-item {{lblDisabledNextBtn}}" (click)="nextBtn()" >
            <a class="page-link" href="#"> > </a>
        </li>

        <li class="page-item {{lblDisabledNextBtn}}" (click)="lastPage()" >
            <a class="page-link" href="#"> >> </a>
        </li>
    </ul>
</nav>